@media (max-width: 50em) {
  .sub-heading {
    align-items: center;
  }
  .colors {
    grid-template-rows: 2fr 1fr;
  }
  .colors img {
  }
}
@media (max-width: 46em) {
  body {
    width: 100%;
  }
  .colors {
    grid-column: 1/-1;
  }
  .cars {
    grid-column: span 2;

    padding: 0;
    margin: 0;
  }
  .car1,
  .car2,
  .car3 {
  }
  .car-p {
    font-size: 1.8rem;
  }
  .new {
  }
}
@media (max-width: 40em) {
  body {
    padding: 0;
  }
  .web {
    display: none;
  }
  .mobile {
    display: block;
  }
  .colors {
    grid-template-rows: 1fr;
  }
  .grid-2-cols {
    grid-template-columns: 1fr;
    gap: 2.2rem;
  }
  .colors {
    grid-template-rows: 1fr;
    gap: 1.4rem;
    justify-content: center;
    width: 100vw;
    padding: 0;
    margin-top: 1.2rem;
  }
  .sub-heading {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
  .grid-3-cols {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  h1 {
    line-height: 1;
    font-weight: 800;
    font-size: 4.4rem;

    letter-spacing: -1;
  }
  .container {
    /* padding-right: 2rem; */
    width: 100vw;
    padding: 0;
  }
  .CTA-p {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 700;
    color: hsla(236, 13%, 42%, 0.612);
  }
  .read {
    margin-top: 3.2rem;
    width: 20rem;
    height: 4.8rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.6rem;
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
  }
  .cars {
    margin-top: 4.8rem;
    background-color: hsl(240, 100%, 5%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* font-size: 1rem;*/
    padding: 1.6rem;
    margin-right: 0 auto;
    width: 100vw;
  }

  .car1,
  .car2 {
    margin-top: 1rem;
    padding: 1.4rem 0;
    border-bottom: 1px solid hsla(236, 13%, 42%, 0.612);
    font-weight: 800;
    line-height: 1.8;
  }
  .car3 {
    margin-top: 1rem;
    padding: 1.6rem 0;
    font-weight: 700;
    line-height: 1.8;
  }
  .car-p {
    margin-top: 0.5rem;
    color: hsl(236, 13%, 42%);
    font-size: 1.7rem;
  }
  .cars h3 {
    color: hsl(36, 100%, 99%);
    font-weight: 700;
    font-size: 2.4rem;
  }

  .cars .new {
    font-size: 2.4rem;
    color: hsl(35, 77%, 62%);
  }
  .grid-3-cols {
    margin-top: 5.4rem;
  }
  .one {
    /* grid-template-columns: 20rem 35rem; */
    gap: 2.4rem;
    grid-template-columns: 2fr 5fr;
  }
  .one h2 {
    font-size: 3.2rem;
    color: hsla(236, 13%, 42%, 0.612);
  }
  .one h3 {
    font-size: 2rem;
    font-weight: 800;
  }
  .one p {
    font-size: 1.6rem;
    color: hsla(236, 13%, 42%, 0.612);
    line-height: 1.5;
    font-weight: 700;
  }

  .one img {
    width: 100%;
  }
  .one-two {
    display: grid;
    gap: 1.2rem;
  }

  .header {
    /* padding: 1.6rem; */
  }
  .main-nav {
    display: none;
  }
  .mobile {
    max-width: 100%;
  }
  .btn-mobile-nav {
    display: block;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-weight: 700;
    font-size: 2rem;
  }
}
